<header>
    <div><a href="">SDY</a></div>
    <nav>
        <ul>
            <% if(locals.isAuth) { %>
            <li>
                <button>Logout</button>
            </li>
            <% } %>
        </ul>
    </nav>
</header>
