<footer>
    <!-- <ul>
      <li>
        <a href="https://www.instagram.com"
          ><img src="" alt="Instagram logo"
        /></a>
      </li>
      <li>
        <a href="https://www.facebook.com"
          ><img src="" alt="Facebook logo"
        /></a>
      </li>
    </ul> -->
  </footer>
</body>
</html>